.list {
  display: flex;
  flex-direction: column;
}
.item__list {
  position: relative;
  margin-bottom: 24px;
  margin-right: 32px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0 9px 14px;
  line-height: 1.5;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 4px;
  margin-left: 3px;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 200ms;
}
.button:hover {
  background-color: #ff6b0a;
}
