.cities__block {
  /* position: relative; */
  /* margin-bottom: 32px; */
}

.list {
  display: flex;
  flex-direction: column;
}
.item__list {
  position: relative;
  margin-bottom: 24px;
  margin-right: 32px;
}
