.wrap {
  padding-left: 40px;
  margin-bottom: 20px;
}
.form__wrap {
}
.header {
  padding-left: 24px;
  font-size: 20px;
}
.headerLight {
  composes: header;
  color: black;
}
.headerDark {
  composes: header;
  color: #ff6b0a;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: baseline;
  justify-content: space-around;
  height: 450px;
}
.input {
  padding: 7px;
  width: 50%;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightslategray;
}
.input:hover,
.input:focus {
  border: 2px solid rgb(59, 25, 4);
  background-color: rgba(250, 251, 252, 0.838);
  box-shadow: 5px 7px 10px rgb(194, 79, 8);
  transform: scale(1.1);
  transition-duration: 300ms;
  color: rgb(189, 107, 56);
  text-shadow: 1px 1px 2px rgb(244, 121, 45);
}
