.card {
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 124px;
}
.imgWrapper {
  min-height: 80px;
  margin-bottom: 6px;
}
.imgWrapper img {
  border-radius: 10%;
  background-color: lightskyblue;
}
.text {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16px;
}
.textLight {
  composes: text;
  color: #757575;
}
.textDark {
  composes: text;
  color: white;
}

.btn_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.button {
  padding: 1px 4px;
  border: none;
  background: none;
}
.active {
  composes: button;
  cursor: pointer;
}
.activeLight {
  composes: active;
  color: black;
}
.activeDark {
  composes: active;
  color: #ff6b0a;
}

.disabled {
  composes: button;
  cursor: not-allowed;
  fill: #ff6b0a;
}
.titleDark {
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
