:root {
  --accent-color: #ff6b0a;
  --text-color: #010101;
}
.Sidebar {
  position: sticky;
  top: 0px;
  min-height: 100vh;
  width: 320px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  /* background-color: orange; */
  will-change: width;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  z-index: 10;
}
.SidebarLight {
  composes: Sidebar;
  background-color: white;
}
.SidebarDark {
  composes: Sidebar;
  background-color: #4b4a4adc;
}
.SidebarClosed {
  position: sticky;
  top: 0px;
  min-height: 100vh;
  width: 72px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  /* background-color: orange; */
  will-change: width;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  z-index: 10;
}
.SidebarClosedLight {
  composes: SidebarClosed;
  background-color: white;
}
.SidebarClosedDark {
  composes: SidebarClosed;
  background-color: #4b4a4adc;
}
.SidebarDecor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-right: 20px;
  /* background-color: #161d2a; */

  overflow: hidden;
}
.SidebarDecorLight {
  composes: SidebarDecor;
  background-color: #161d2a;
}
.SidebarDecorDark {
  composes: SidebarDecor;
  background-color: #3e3d3d;
}
.toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: absolute;
  right: -16px;
  top: 90px;
  height: 32px;
  width: 32px;
  background: var(--accent-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset -4px -4px 7px rgba(0, 0, 0, 0.2);
  transition: all 300ms;
}

.toggleBtnLeft {
  composes: toggleBtn;
}
.toggleBtnRight {
  composes: toggleBtn;
}
.svgWrapRight {
  position: absolute;
  bottom: 1px;
}
.svgWrapRight:hover {
  animation: slideRight 1s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.svgWrapLeft {
  position: absolute;
  bottom: 1px;
  left: 5px;
}
.svgWrapLeft:hover {
  animation: slideLeft 1s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slideRight {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}
@keyframes slideLeft {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-10px, 0);
  }
}
